PORT=3000
TRUST_PROXY=false
MAX_MESSAGES_PER_CONVERSATION=100

# Genesys Cloud
GENESYS_CLOUD_DOMAIN=mypurecloud.com
# GENESYS_CLOUD_LOGIN_BASE_URL=https://login.mypurecloud.com
# GENESYS_CLOUD_API_BASE_URL=https://api.mypurecloud.com
GENESYS_CLOUD_CLIENT_ID=your_genesys_client_id
GENESYS_CLOUD_CLIENT_SECRET=your_genesys_client_secret
GENESYS_OPEN_MESSAGING_INTEGRATION_ID=your_open_messaging_integration_id
GENESYS_OUTBOUND_WEBHOOK_SECRET=your_genesys_webhook_secret
GENESYS_PREFETCH_CONVERSATION_ID=false
GENESYS_INCLUDE_ATTACHMENT_CONTENT=true
GENESYS_MAX_MESSAGE_BYTES=131072

# Sinch Conversation API / RCS
SINCH_REGION=eu
# SINCH_CONVERSATION_BASE_URL=https://eu.conversation.api.sinch.com
SINCH_PROJECT_ID=your_sinch_project_id
SINCH_APP_ID=your_sinch_app_id
SINCH_KEY_ID=your_sinch_key_id
SINCH_KEY_SECRET=your_sinch_key_secret
SINCH_WEBHOOK_SECRET=your_sinch_webhook_secret
SINCH_SIGNATURE_MAX_SKEW_SECONDS=300
